/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

.logo {
    height: 48px;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: large;
}

.logo > a {
    text-decoration: none;
    color: white;
}

.site-layout .site-layout-background {
    background: #fff;
}

[data-theme='dark'] .site-layout .site-layout-background {
    background: #141414;
}

.layout {
    min-height: 100vh;
}

.site-layout {
    padding: 0 15px;
    margin-top: 15px;
    overflow-y: auto;
}

.ant-layout-sider-children > svg {
    margin: auto;
}

.site-layout-background {
    height: 100%;
    min-height: 360px;
}

.ant-layout-footer {
    text-align: center;
}

.header-menu {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: flex-end;
    align-items: center;
}

.header-menu-button {
    box-shadow: none !important;
    border: none !important;
}
.ocl-data-display {
    margin-right: 10em;
    margin-left: 10em;
}

.ocl-data-main-info {
    display: flex;
    gap: 30px;
    align-items: center;
}

.ocl-data-info-table {
    width: auto;
    margin-top: 10px;
    overflow-x: auto;
}

.home-data-display {
    padding: 24px;
}

.site-layout-protect-height {
    height: 15px;
}

.content-title {
    font-size: 20px;
    font-weight: bold;
}
