# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: Huawei Inc.
---
spring:
  data:
    redis:
      host: localhost
      port: 6379
      password: Xpanse@2023
xpanse:
  cache:
    redis-enabled: true