# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: Huawei Inc.
---
xpanse:
  security:
    enable-web-security: false
    enable-role-protection: false
  agent-api:
    enable-agent-api-only: true