# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: Huawei Inc.
---
spring:
  datasource:
    name: mysql
    jdbcUrl: jdbc:mysql://localhost:3306/xpanse
    driverClassName: com.mysql.cj.jdbc.Driver
    username: xpanse
    password: Xpanse@2023
  activiti:
    datasource:
      jdbcUrl: jdbc:h2:file:./activiti;DB_CLOSE_ON_EXIT=FALSE;
      driverClassName: com.mysql.cj.jdbc.Driver
      username: activiti
      password: Activiti@2023
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect