<!--
  ~ SPDX-License-Identifier: Apache-2.0
  ~ SPDX-FileCopyrightText: Huawei Inc.
  ~
  -->

<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>
    <logger name="org.eclipse.osc" level="info" additivity="false">
        <appender-ref ref="Console"/>
    </logger>
    <root level="error">
        <appender-ref ref="Console"/>
    </root>
</configuration>