name: Auto Assign to Kanban Project

on:
  issues:
    types: [ opened ]
env:
  MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}

jobs:
  assign_one_project:
    runs-on: ubuntu-latest
    name: Assign to Kanban Project
    steps:
      - name: Assign NEW issues and to project kanban
        uses: srggrs/assign-one-project-github-action@1.2.1
        if: github.event.action == 'opened'
        with:
          project: 'https://github.com/orgs/huaweicloud/projects/5'
